.tabla {
  max-width: 95%;
  margin: 5px auto;
}
.search {
  font-size: 10px;
  margin-left: 20px;
  margin-top: 20px;
  height: 70px;
  text-transform: uppercase;
}
.icono {
  height: 30px !important;
  width: 30px !important;
  font-size: 2px !important;
  margin: 0 5px;
}
