<div class="login-container">
    <mat-card class="login-box">
        <mat-card-content>
            <mat-card-title class="caja">INICIO DE SESIÓN</mat-card-title>
            <mat-card-subtitle>Ingrese su usuario y contraseña</mat-card-subtitle>
            <div>
                <mat-form-field class="caja">
                    <mat-label>Email: </mat-label>
                    <input type="email" matInput placeholder="pat@example.com" #userEmail required>
                </mat-form-field>
                <mat-form-field class="caja">
                    <mat-label>Clave: </mat-label>
                    <input type="password" matInput #userPwd required>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" class="boton" (click)="autservice.login(userEmail.value,
userPwd.value)">INGRESAR</button>
            <button mat-raised-button color="accent" class="boton" (click)="openDialog()">CREAR
                CUENTA</button>
        </mat-card-actions>
    </mat-card>
</div>